.icon-galaxy {
    margin-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .icon-space {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-space i {
    color: #11274d;
    cursor: pointer;
  }
  
  .icon-space span {
    margin-top:15px ;
  }
  .fa-gear {
    margin-left: 10px;
    position: relative;
  }
  .main-channel-find {
    opacity: 0.8;
  }
  .Recommended-friends {
      margin: 90px 40px ;
    text-align: center;
    opacity: 0.6;
  }
  .open-chat {
    margin-top: 10px;
    
  }
  .open-chat-intro {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom:28px ;
  }
  .open-chat-intro span:last-child {
    margin-right: 5px;
    opacity: 0.8;
  }
  .open-chat-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .open-chat-column-a h5,
  .open-chat-column-a h6 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
  }
  .open-chat-column-a h6 {
    margin-bottom: 5px;
  }
  .open-chat-profile {
    display: flex;
    align-items: center;
  }
  .open-chat-profile img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
   .open-chat-profile h4 {
    margin-left: 4px;
   }
   .open-chat-profile span {
    margin-left: 6px;
    font-weight: bold;
    color: #11274d;
   }
   .open-chat-column-b img {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    position: relative;
   }
   .open-chat-column-b span {
    background-color: rgba(0,0,0,0.6);
    padding: 4px 14px;
    border-radius: 10px;
    position: absolute;
    top: 53%;
    left: 83%;
    color: white;
    cursor: pointer;
    font-size: 13px;
   }
  
  