.page-name-settings {
    margin:25px  0px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    text-align: center;
  }
  .setting-title-div .setting-title {
    font-size: 28px;
    font-weight: bold;
  }
  .setting-for-settings {
    padding: 20px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .setting-for-settings i {
    opacity: 0.7;
    margin-right:20px;
    font-size: 22px;
  }
  .setting-button {
    cursor: pointer;
  }
  .page-tittle-settings {
    margin:25px  0px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    text-align: center;
  }
  