.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status-bar-column:first-child {
    font-weight: 700;
}
.status-bar-column:first-child span {
    margin-right: 5px;
}
.status-bar-column:nth-child(2) {
    font-weight: bold;
}
.status-bar-column:last-child span {
  font-weight: 650;
}